$white: rgb(255, 255,255);
$grey: #777777;
$grey-lighter: #ccc;
$grey-even-lighter: rgb(234,234,234);
$greyish: rgb(249, 249, 249);
$green: #7cc576;
$black: rgb(28, 28, 28);
$black-lighter: #222222;

